@font-face {
	font-family: 'blockicons';
	src:url('../fonts/blockicons.eot');
	src:url('../fonts/blockicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/blockicons.ttf') format('truetype'),
		url('../fonts/blockicons.woff') format('woff'),
		url('../fonts/blockicons.svg#blockicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.blockicons {
	display: inline-block;
	width: 16px;
	height: 16px;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1;
	font-family: "blockicons";
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	-moz-transition: color .1s ease-in 0;
	-webkit-transition: color .1s ease-in 0;
	text-align: center;
}


/* Admin Menu Icons */

.blockicons-block:before {
	content:"\f333";
}
